<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <select name="fruit" v-model="fruit">
    <option value="">--请选择--</option>
    <option value="apple">苹果</option>
    <option value="banana">香蕉</option>
    <option value="orange">橙子</option>
    <option value="grape">葡萄</option>
  </select>
  <h2>选择的是：{{fruit}}</h2>
  
  <br>
  <select name="fruit" v-model="fruits" multiple>
<!--    <option value="">&#45;&#45;请选择&#45;&#45;</option>-->
    <option value="apple">苹果</option>
    <option value="banana">香蕉</option>
    <option value="orange">橙子</option>
    <option value="grape">葡萄</option>
  </select>
  <h2>选择的是：{{fruits}}</h2>

  <br>
  <label v-for="item in originalHobbies" :for="item">
    <input type="checkbox" :value="item" v-model="originalHobbies" :id="item">{{item}}
  </label>

</div>

<script src="../js/vue.js"></script>
<script>
const app=new Vue({
  el: '#app',
  data:{
    message: 'Hello',
    fruit: '',
    fruits : [],
    originalHobbies: ['pingpong','tennis','basketball','soccer','volleyball']
  }
})
</script>
</body>
</html>